#Cmake generation results
build/*

# Sublime text project
!build/sublime
build/sublime/RecastDetour.sublime-workspace

# Bin content
/*/Bin/*
!/*/Bin/*.ttf
!/*/Bin/Meshes/
!/*/Bin/Samples/
!/*/Bin/Tests/

# Doxygen generation output
Docs/out
Docs/html/
